#Apply in pandas

In [0]:
import pandas as pd
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [0]:
sdf = spark.createDataFrame(df)
sdf.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4|at_home| teacher|course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1|at_home|   other|course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1|at_home|   other| other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2| health|services|  home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|  other|   other|  home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 5 rows

#For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [0]:
print(df.info())
df = df.loc[:,'school':'guardian']
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

In [0]:
sdf.columns
sdf = sdf.select([c for c in df.columns[0:12]])

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-4447232484645195>:1
----> 1 sdf.columns
      2 sdf = sdf.select([c for c in df.columns[0:12]])

NameError: name 'sdf' is not defined

In [0]:
sdf.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
only showing top 20 rows

#Create a lambda function that will capitalize strings. and Capitalize both Mjob and Fjob

In [0]:
cap = lambda x:x.capitalize()
df['Mjob'] = df['Mjob'].apply(cap)
df['Fjob'] = df['Fjob'].apply(cap)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

In [0]:

# capi = lambda x: x.str.capitalize()

# sdf.select(capi('Mjob')).show()

In [0]:
 
@pandas_udf('string') 
def capitalize(s1): 
  # Here we are using s1.'str'.capitalize() as  
  # s1 is a pandas Series object and it  
  # doesn't contain capitalize() method.  
  # It is a string method, that's why we have written 
  # s1.str.capitalize() 
  return (s1.str.capitalize()) 
  
sdf.select(capitalize('Mjob')).show()
sdf.select(capitalize('Fjob')).show()
sdf.withColumn('Mjob', upper(sdf['Mjob'])).show()

+----------------+
|capitalize(Mjob)|
+----------------+
|         At_home|
|         At_home|
|         At_home|
|          Health|
|           Other|
|        Services|
|           Other|
|           Other|
|        Services|
|           Other|
|         Teacher|
|        Services|
|          Health|
|         Teacher|
|           Other|
|          Health|
|        Services|
|           Other|
|        Services|
|          Health|
+----------------+
only showing top 20 rows

+----------------+
|capitalize(Fjob)|
+----------------+
|         Teacher|
|           Other|
|           Other|
|        Services|
|           Other|
|           Other|
|           Other|
|         Teacher|
|           Other|
|           Other|
|          Health|
|           Other|
|        Services|
|           Other|
|           Other|
|           Other|
|        Services|
|           Other|
|        Services|
|           Other|
+----------------+
only showing top 20 rows

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| AT_HOME| teacher|    course|  mother|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| AT_HOME|   other|    course|  father|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| AT_HOME|   other|     other|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  HEALTH|services|      home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   OTHER|   other|      home|  father|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|SERVICES|   other|reputation|  mother|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   OTHER|   other|      home|  mother|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   OTHER| teacher|      home|  mother|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|SERVICES|   other|      home|  mother|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   OTHER|   other|      home|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| TEACHER|  health|reputation|  mother|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|SERVICES|   other|reputation|  father|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  HEALTH|services|    course|  father|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| TEACHER|   other|    course|  mother|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   OTHER|   other|      home|   other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  HEALTH|   other|      home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|SERVICES|services|reputation|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   OTHER|   other|reputation|  mother|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|SERVICES|services|    course|  mother|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  HEALTH|   other|      home|  father|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+
only showing top 20 rows

#Print the last elements of the data set

In [0]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

In [0]:
sdf.tail(10)

Out[110]: [Row(school='MS', sex='F', age=18, address='R', famsize='GT3', Pstatus='T', Medu=2, Fedu=2, Mjob='at_home', Fjob='other', reason='other', guardian='mother'),
 Row(school='MS', sex='F', age=18, address='R', famsize='GT3', Pstatus='T', Medu=4, Fedu=4, Mjob='teacher', Fjob='at_home', reason='reputation', guardian='mother'),
 Row(school='MS', sex='F', age=19, address='R', famsize='GT3', Pstatus='T', Medu=2, Fedu=3, Mjob='services', Fjob='other', reason='course', guardian='mother'),
 Row(school='MS', sex='F', age=18, address='U', famsize='LE3', Pstatus='T', Medu=3, Fedu=1, Mjob='teacher', Fjob='services', reason='course', guardian='mother'),
 Row(school='MS', sex='F', age=18, address='U', famsize='GT3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='other', reason='course', guardian='mother'),
 Row(school='MS', sex='M', age=20, address='U', famsize='LE3', Pstatus='A', Medu=2, Fedu=2, Mjob='services', Fjob='services', reason='course', guardian='other'),
 Row(school='MS', sex='M', age=17, address='U', famsize='LE3', Pstatus='T', Medu=3, Fedu=1, Mjob='services', Fjob='services', reason='course', guardian='mother'),
 Row(school='MS', sex='M', age=21, address='R', famsize='GT3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='other', reason='course', guardian='other'),
 Row(school='MS', sex='M', age=18, address='R', famsize='LE3', Pstatus='T', Medu=3, Fedu=2, Mjob='services', Fjob='other', reason='course', guardian='mother'),
 Row(school='MS', sex='M', age=19, address='U', famsize='LE3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='at_home', reason='course', guardian='father')]

#Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [0]:
# def majority (x):
#   return True if x>17 else False

majority = lambda x: x > 17
df['legal_drinker'] = df['age'].apply(majority)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

In [0]:
sdf.withColumn('legal_drinker', expr('age')>17).show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+-------------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|legal_drinker|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+-------------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         true|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|        false|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|        false|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|        false|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|        false|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|        false|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|        false|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|        false|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|        false|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|        false|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|        false|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|        false|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|        false|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|        false|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|        false|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|        false|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|        false|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|        false|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|        false|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|        false|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+-------------+
only showing top 20 rows

#Multiply every number of the dataset by 10.

In [0]:
times10 = lambda x: x*10 if type(x) is int else x
df.applymap(times10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True

In [0]:
# for column in sdf.columns:
#     sdf = sdf.withColumn(
#         column,
#         when(col(column).cast("int").isNotNull(), col(column) * 10).otherwise(col(column))
#     )

In [0]:
for column in sdf.columns:
    sdf = sdf.withColumn(column, when(col(column).cast('int').isNotNull(), col(column)*10).otherwise(column))

In [0]:
sdf.show()

+------+---+-----+-------+-------+-------+---------+---------+----+----+------+--------+
|school|sex|  age|address|famsize|Pstatus|     Medu|     Fedu|Mjob|Fjob|reason|guardian|
+------+---+-----+-------+-------+-------+---------+---------+----+----+------+--------+
|school|sex|1.8E7|address|famsize|Pstatus|4000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.7E7|address|famsize|Pstatus|1000000.0|1000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|1000000.0|1000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|4000000.0|2000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|3000000.0|3000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|4000000.0|3000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|2000000.0|2000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.7E7|address|famsize|Pstatus|4000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|3000000.0|2000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|3000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|4000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|2000000.0|1000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|4000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|4000000.0|3000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.5E7|address|famsize|Pstatus|2000000.0|2000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|4000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|4000000.0|4000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|3000000.0|3000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.7E7|address|famsize|Pstatus|3000000.0|2000000.0|Mjob|Fjob|reason|guardian|
|school|sex|1.6E7|address|famsize|Pstatus|4000000.0|3000000.0|Mjob|Fjob|reason|guardian|
+------+---+-----+-------+-------+-------+---------+---------+----+----+------+--------+
only showing top 20 rows